@using mvc_app.Data.Enum
@using mvc_app.ViewModels;
@model CreateStudioViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <h1 class="d-flex border-bottom">Add Studio</h1>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" type="text" class="form-control" required>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" type="text" class="form-control" required>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StudioCategory" class="form-label">Studio category</label>
            <select class="form-select form-select-sm" asp-for="StudioCategory" asp-items="@Html.GetEnumSelectList<StudioCategory>()" required>
                <option>--Select--</option>
            </select>
            <span asp-validation-for="StudioCategory" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address.Street" class="form-label">Street</label>
            <input asp-for="Address.Street" type="text" class="form-control" required>
            <span asp-validation-for="Address.Street" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address.City" class="form-label">City</label>
            <input asp-for="Address.City" type="text" class="form-control" required>
            <span asp-validation-for="Address.City" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address.State" class="form-label">State</label>
            <input asp-for="Address.State" type="text" class="form-control" required>
            <span asp-validation-for="Address.State" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label">Image</label>
            <input asp-for="Image" type="file" class="form-control" required>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>